{%extends "gymapp/base.html" %}
{% block title %}
Тренеры
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
<div>
  <div class="alert alert-warning">
  <ul>
    {% for i in object_list %}
      <li>{{ i.name }}</li>
      <li>{{ i.coach_information }}</li>
      <li><img src="{{ i.photo.url}}" alt="{{ i.name }}"></li>
    {% endfor %}
  </ul>
  </div>
  {% if request.user.get_group_permissions %}
    <a class="btn btn-danger btn-sm mt -1 mb-1" href="{% url 'coach-create' %}">Добавить тренера</a>
  {% endif %}
</div>
{% endblock %}
