{%extends "gymapp/base.html" %}
{% block title %}
Тренеры
{% endblock %}

{% block content %}
{% load static %}
{% for i in object_list %}
    <div class="example-block">
      <a href="{% url 'coach-detail' i.id %}">{{ i.name }}</a>
      <a href="{% url 'coach-detail' i.id %}"><img class="example-image" src="{{ i.photo.url}}"></a>
    </div>
{% endfor %}
{% if request.user.is_authenticated %}
  <a class="form_button" type="submit" href="{% url 'coach-create' %}">Добавить тренера</a>
{% endif %}
{% endblock %}
