{%extends "gymapp/base.html" %}
{% block title %}
Изменение
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
<div class="wrapper">
    <div class="form">
        <form action=""  class="form_body" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 class="form_title">Добавить тренера</h1>
            {{ form.as_p }}
            <button type="submit" class="form_button">Добавить</button>
        </form>
        {% if img_obj %}
            <h3>Succesfully uploaded : {{img_obj.title}}</h3>
            <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
        {% endif %}
    </div>
</div>
{% endblock %}