{%extends "gymapp/base.html" %}
{% block title %}
Изменение
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
<div class="wrapper">
    <div class="form">
        <form action=""  class="form_body" method="POST">
            {% csrf_token %}
            <h1 class="form_title">Изменение информации</h1>
            <div class="form-error">{{ form.non_field_errors }}</div>
            <div class="form_item">
                <label for="formName" class="form_label">Имя</label>
                {{ form.name }}
            </div>
                {% if form.name.errors %}
                <div class="alert alert-danger">
                    <strong>{{ form.name.errors }}</strong>
                </div>
            {% endif %}
            <div class="form_item">
                <label for="formCoach_information" class="form_label">Информация</label>
                {{ form.coach_information }}
            </div>

            {% if form.coach_information.errors %}
                <div class="alert alert-danger">
                    <strong>{{ form.coach_information.errors }}</strong>
                </div>
            {% endif %}
            <button type="submit" class="form_button">Изменить</button>
        </form>
    </div>
</div>
{% endblock %}